@page "/accountedit"
@using System.Net.Http.Headers
@using System.Text.Json
@using System.Web
@using Shared.Model
@using Shared.Model.Dtos
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime

<MudPaper Class="p-6 max-w-xl mx-auto mt-6" Elevation="6">
    <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-4">@globals.Localizations["AccountEdit_Title"]</MudText>

    <div class="relative w-32 h-32 mx-auto mb-6 group">
        <label for="avatarUpload" class="cursor-pointer block">
            <MudAvatar Size="Size.Large" Image="@AvatarPreviewUrl" Class="w-full h-full rounded-full">

                <MudImage Src="@AvatarPreviewUrl" Size="Size.Large" Class="w-full h-full rounded-full" />
            </MudAvatar>
            <div class="absolute inset-0 bg-black bg-opacity-50 rounded-full flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                <MudIcon Icon="@Icons.Material.Filled.AddAPhoto" Color="Color.Primary" Size="Size.Medium" />
            </div>
        </label>
        <InputFile id="avatarUpload" style="display:none;" OnChange="HandleAvatarUpload" />
    </div>

    <MudForm @ref="_form">
        <MudTextField Label=@globals.Localizations["AccountEdit_Username"] @bind-Value="Username" Required="true" RequiredError=@globals.Localizations["AccountEdit_UsernameIsRequired"] />

        <MudSelect @bind-Value="Locale" Label=@globals.Localizations["AccountEdit_SelectLanguage"] OpenIcon="@Icons.Material.Filled.Language" AdornmentColor="Color.Secondary">
            @foreach (var item in Enum.GetValues<LocalizationCode>()) {
                if (item == LocalizationCode.None)
                    continue;
                <MudSelectItem Value="@item">@item.ToString()</MudSelectItem>
            }
        </MudSelect>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="HandleValidSubmit" Type="Submit">@globals.Localizations["UI_SaveChanges"]</MudButton>
    </MudForm>

    <MudDivider Class="my-6" />

    <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="OpenDeleteDialog">
        @globals.Localizations["AccountEdit_DeleteAccount"]
    </MudButton>
</MudPaper>

<MudDialog @bind-Visible="_deleteDialogOpen">
    <DialogContent>
        <MudText Typo="Typo.h6">@globals.Localizations["AccountEdit_PromptDeleteMsg"]</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Default" OnClick="CloseDeleteDialog">@globals.Localizations["UI_Cancel"]</MudButton>
        <MudButton Color="Color.Error" OnClick="DeleteAccount">@globals.Localizations["UI_Delete"]</MudButton>
    </DialogActions>
</MudDialog>
@code {
    private MudForm _form;
    private IBrowserFile? _selectedFile;
    private InputFile? _fileInput;

    private string Username;
    private LocalizationCode Locale = LocalizationCode.ENG;
    private string AvatarPreviewUrl = "https://res.cloudinary.com/da7kbbrap/image/upload/360_F_303981738_1s8t2JvUDyfBKsHUmR01LZhEJBsJTgML_itthcj.jpg";
    private byte[] CustomAvatarBytes = [];
    private bool _deleteDialogOpen = false;

    protected override async Task OnInitializedAsync()
    {
        Username = globals.User!.Username;
        Locale = globals.User.Locale;
        if (globals.User.AvatarUrl is not null)
            AvatarPreviewUrl = globals.User.AvatarUrl;
    }

    private async Task HandleAvatarUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        await using var stream = file.OpenReadStream();
        CustomAvatarBytes = new byte[file.Size];
        await stream.ReadAsync(CustomAvatarBytes);
        var imageStr = Convert.ToBase64String(CustomAvatarBytes);

        AvatarPreviewUrl = $"data:{file.ContentType};base64,{imageStr}";
        StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        var serverUrl = Configuration.GetValue<string>("ServerUrl");
        using var cli = new HttpClient();
        cli.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", globals.Token);
        var response = await cli.PostAsJsonAsync($"{serverUrl}/Account/UpdateUser?Username={Username}&localeCode={Locale}", CustomAvatarBytes);
        var result = await response.Content.ReadAsStringAsync();
        if (response.StatusCode != System.Net.HttpStatusCode.OK)
        {
            Snackbar.Add($"{@globals.Localizations["Messages_ErrorOnUpdate"]} - {result}", Severity.Error);
            return;
        }
        var userData = JsonSerializer.Deserialize<AccountInfoDto>(result, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
        AvatarPreviewUrl = HttpUtility.UrlDecode(userData.AvatarUrl).Trim('\"');
        await globals.UpdateUser(jsRuntime, userData);
        Snackbar.Add(@globals.Localizations["Messages_AccountSettingsUpdated"], Severity.Success);
    }

    private void OpenDeleteDialog() => _deleteDialogOpen = true;
    private void CloseDeleteDialog() => _deleteDialogOpen = false;

    private async Task DeleteAccount()
    {
        var serverUrl = Configuration.GetValue<string>("ServerUrl");
        using var cli = new HttpClient();
        cli.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", globals.Token);
        var response = await cli.GetAsync($"{serverUrl}/Account/DeleteAccount");
        var result = await response.Content.ReadAsStringAsync();
        if (response.StatusCode != System.Net.HttpStatusCode.OK)
        {
            Snackbar.Add($"{@globals.Localizations["Messages_AccountDeletionError"]}- {result}", Severity.Error);
            return;
        }
        Snackbar.Add(@globals.Localizations["Messages_AccountDeleted"], Severity.Warning);
        globals.Logout(jsRuntime);
        Navigation.NavigateTo("/");
    }
}